defaults:
  - model: rnnae
  - dataset: dsprites
  - rnn: leaky_rnn


encoder:
  _target_: compo_predictive_learning.models.encoders.ConvEncoder
  input_dim: 
  hidden_dims: [16,16,16]
  output_dim: 512
  activation: relu
  norm_layer: none
  max_pooling: False
  name: conv_${.hidden_dims}_${.activation}_${.norm_layer}_${.max_pooling}_${.output_dim}

decoder:
  _target_: compo_predictive_learning.models.decoders.ConvDecoder
  input_dim: 
  hidden_dims: [16,16,16]
  output_dim: 
  activation: relu
  norm_layer: none
  name: conv_${.hidden_dims}_${.activation}_${.norm_layer}

seed: 0

save_models: False
one_context_per_batch: True
no_redo: True

compute_clustering: True
compute_metrics: True


use_whole_drawing: False
one_hot_context: false 

support_type: full
subsample_contexts_ratio: 0.8
support_connectivity: 1
make_plots: True

train_loop:
    num_steps: 5000
    eval_every: 256
    compute_metrics_every: 256
    make_plots_every: -1
    pretrain_lr: 0.001
    pretrain_decay: 0.001
    pretrain_act_decay: 0.01
    pretrain_act_l1: 0
    pretrain_weight_l1: 0
    batch_size: 128
    save_model_every: 100000

hydra:
    run:
        # dir: outputs/contextual_${support_type}_${support_connectivity}_${subsample_contexts_ratio}/${dataset.name}/${model.name}/${encoder.name}/${rnn.name}/${decoder.name}/${one_context_per_batch}/${train_loop.num_steps}_${train_loop.pretrain_lr}_${train_loop.pretrain_decay}_${train_loop.pretrain_act_decay}_${train_loop.pretrain_act_l1}_${train_loop.pretrain_weight_l1}_${train_loop.batch_size}/seed${seed}
        dir: test/contextual_${support_type}_${support_connectivity}_${subsample_contexts_ratio}/${dataset.name}/${model.name}/${encoder.name}/${rnn.name}/${decoder.name}/${one_context_per_batch}/${train_loop.num_steps}_${train_loop.pretrain_lr}_${train_loop.pretrain_decay}_${train_loop.pretrain_act_decay}_${train_loop.pretrain_act_l1}_${train_loop.pretrain_weight_l1}_${train_loop.batch_size}/seed${seed}
